<nav class="navbar navbar-expand-lg fixed-top">
    <div>
        <div>
            <a href="mailto:info@nitms.in" title="Email">
            <span> info@nitms.in </span></a>
        </div>
        <div class="hotline">
            <a href="#" title="Landline">
            <span> 0712-6635208 </span> </a>
        </div><br>
    </div>
    <div class="marquee-line">
        <marquee style="margin:auto;" scrollamount="2" scrolldelay="10">
                 All the programs run by NITMS is purely Autonomous and Certification Courses.
        </marquee>
    </div>
    <div class="btn">
        <a href="/login"> Student Login </a>
        <a href="/stdverification"> Student Verification </a>
    </div>
</nav>
<div class="row container">
    <div class="col-md-2" >
        <img src="/assets/images/nitmslogo.png" height="130" width="130">
    </div>
    <div class="col-md-10">
        <h1 class="head-title iso-title">National Institute Of Technical and Management Studies</h1>
        <h4 class="text-center">A unit of "Karmveer Gramvikas Sanstha"</h4>
        <h5 class="text-center iso-title">An ISO 9001 : 2015 Certified Organization</h5>
    </div>
</div>
<nav class="navbar navbar-expand-lg">
    <ul class="nav-links nav navbar-nav" align="center">
        <li class="pad"><a href="/dashboard">Home</a></li>
        <li class="pad"><a href="/aboutus">About Us</a></li>
        <li class="pad"><a href="/accrediation">Accrediation</a></li>
        <li class="pad"><a href="/certification">Certification</a></li>
        <li class=" pad dropdown"><a>Courses
            <div class="dropdown-content">
                <p><a href="/courses/management">Management Programs</a></p>
                <p><a href="/courses/engineering">Engineering Programs</a></p>
                <p><a href="/courses/computer">Computer Application</a></p>            
                <p><a href="/courses/diploma">Diploma / Specialization Programs</a></p>
                <p><a href="/courses/textile-e">Textile Engineering</a></p>
                <p><a href="/courses/textile-m">Textile Management</a></p>
            </div>
        </a></li>
        <li class="pad"><a href="/examination">Examination</a></li>
        <li class="pad"><a href="/placement">Placement</a></li>
        <li class="pad dropdown"><a>Downloads
            <div class="dropdown-content">
                <!-- <p><a href="http://nitms.in/uploads/docs/application-form.pdf" target="_blank" class="link-page" title="Application Form">Application Form</a></p> -->
                <p><a href="assets/application-form.pdf" target="_blank" class="link-page" title="Application Form">Application Form</a></p>
                <p><a href="assets/ExaminationForm.docx" target="_blank" class="link-page" title="Exam Form">Exam Form</a></p>
            </div>
        </a></li>
        <li class="pad"><a href="/contact">Contact</a></li>
    </ul>
</nav>
<!-- <ul class="dropdown-menu edugate-dropdown-menu-1">
                                <li><a href="uploads/docs/application-form.pdf" target="_blank" class="link-page" title="Application Form">Application Form</a></li>
                                <li><a href="uploads/docs/ExaminationForm.docx" target="_blank" class="link-page" title="Exam Form">Exam Form</a></li>
                            </ul>
 -->
<!-- <header>
    <div class="header-topbar">
        <div class="container">
            <div class="topbar-left pull-left">
                <div class="email">
                <a href="mailto:info@nitms.in" title="Email">
                <i class="topbar-icon fa fa-envelope-o"></i>
                <span> info@nitms.in </span></a> 
                </div>
                <div class="hotline">
                <a href="#" title="Landline">
                <i class="topbar-icon fa fa-phone"></i>
                <span> 0712-6635208 </span> </a>
                </div> <br>
            </div>
            <div class="marquee-line pull-left">
               <marquee style="margin:auto;" scrollamount="2" scrolldelay="10">All the programs run by NITMS is purely Autonomous and Certification Courses.
                </marquee>
            </div>
            <div class="topbar-right pull-right">
                <div class="socials">
                <a href="https://www.facebook.com/NITMS-625511570942240/?fref=ts&amp;ref=br_tf&#10;" class="facebook" title="Facebook" target="_blank">
                <i class="fa fa-facebook"></i></a>
                <a title="Google Plus" href="https://plus.google.com/b/107850518420659104510/107850518420659104510/about?gmbpt=true&amp;hl=en-GB" class="google" target="_blank">
                <i class="fa fa-google-plus"></i></a>
                <a title="Twitter" href="https://twitter.com/chandanitms" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></div>
                <div class="group-sign-in" style="margin-left: 0px !important;">
                <a href="login.php" class="register login-btn" title="Student Login"><i class="fa fa-user"></i> Student Login</a>
                 <a href="verification.php" class="register login-btn" title="Student Login"><i class="fa fa-check-circle"></i> Student Verification</a>
                </div>
 <div class="group-sign-in" style="margin-left: 5px !important;">
<a href="https://www.onlinesbi.com/prelogin/icollecthome.htm?corpID=738706" target="_blank" style=" margin-left:5px;"><span class="blink">Online Payment</span></a><br>
<a href="https://paytm.com/education?op=NITM%20Studies&amp;type=registration" target="_blank"><img src="assets/images/paytm.jpg"></a>
</div>
            </div>
             <marquee class="marquee-small" scrollamount="2" scrolldelay="10">All the programs run by NITMS is purely Autonomous and Certification Courses.
                </marquee>
        </div>
    </div>
        <div class=" homepage-01">
        <div class="container">
            <div class="header-main-wrapper">
                <div class="navbar-heade">
                    <div class="logo pull-left"><a href="index.php" class="header-logo"><img src="assets/images/nitmslogo.png" alt="nitms" title="National Institute Of Technical and Management Studies" style="height: 117px;width: 125px;"></a>
                    
                    </div>
                    <div class="pull-right">
                    <h1 class="head-title">National Institute Of Technical and Management Studies</h1>
                        <h4 class="text-center">A unit of "Karmveer Gramvikas Sanstha"</h4>
                        <h5 class="text-center iso-title">An ISO 9001 : 2015 Certified Organization</h5>

                    </div>
                    <div class="clearfix"></div>
                    <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
           
            </div>
        </div>
    
    </div>
   <div class="header-main header-main-custom homepage-01">
             <div class="container">
                 <nav class="navigation collapse navbar-collapse pull-right">
                    <ul class="nav-links nav navbar-nav">
                        <li><a href="index.php" class="main-menu" title="Home">Home</a></li>
                        <li><a href="page.php?page=about" class="main-menu" title="About">About Us</a></li>
                        <li><a href="page.php?page=accrediation-certification" class="main-menu" title="Accrediation">
Accrediation</a></li>
<li class="active"><a href="page.php?page=certification" class="main-menu" title=" Certification">
Certification</a></li>
                        <li class="dropdown"><a href="javascript:void(0)" class="main-menu" title="Courses">Courses<span class="fa fa-angle-down icons-dropdown"></span></a>
                            <ul class="dropdown-menu edugate-dropdown-menu-1">
                                <li><a href="page.php?page=list-all-courses" class="link-page" title="All Courses">All Courses</a></li>
                                <li><a href="page.php?page=list-all-courses-category&amp;category=1" class="link-page" title="Management Programs">Management Programs</a></li>
                                <li><a href="page.php?page=list-all-courses-category&amp;category=2" class="link-page" title="Engineering Programs">Engineering Programs</a></li>
                                <li><a href="page.php?page=list-all-courses-category&amp;category=4" class="link-page" title="Computer Application">Computer Application</a></li>                               
                                <li><a href="page.php?page=list-all-courses-category&amp;category=3" class="link-page" title="Diploma / Specialization Programs">Diploma / Specialization Programs</a></li>
                                <li><a href="page.php?page=list-all-courses-category&amp;category=5" class="link-page" title="Textile Engineering">Textile Engineering</a></li>
                                <li><a href="page.php?page=list-all-courses-category&amp;category=6" class="link-page" title="Textile Management">Textile Management</a></li>
                            </ul>
                        </li>
                        <li><a href="page.php?page=examination" class="main-menu" title="Home">Examination</a></li>
                        <li><a href="page.php?page=placement" class="main-menu" title="Placement">Placement</a></li>
                        <li class="dropdown"><a href="javascript:void(0)" class="main-menu" title="Downloads">Downloads<span class="fa fa-angle-down icons-dropdown"></span></a>
                         <ul class="dropdown-menu edugate-dropdown-menu-1">
                                <li><a href="uploads/docs/application-form.pdf" target="_blank" class="link-page" title="Application Form">Application Form</a></li>
                                <li><a href="uploads/docs/ExaminationForm.docx" target="_blank" class="link-page" title="Exam Form">Exam Form</a></li>
                            </ul>
                        </li>
                         <li><a href="page.php?page=contact" class="main-menu" title="Contact">Contact</a></li>
                </nav>
         </div>
</div></header> -->