<nav class="contain navbar navbar1 fixed-top">
    <div class="container1">
        <div class="container con">
            <div>
                <i style="color: rgb(134, 188, 66);" class="fa fa-envelope-o"></i><a href="mailto:info@nitms.in"><span>info@nitms.in</span></a>&nbsp;
                <i style="color: rgb(134, 188, 66);" class="fa fa-phone"></i><a href="#"><span>9766292273</span></a>&nbsp;
                <i style="color: rgb(134, 188, 66);" class="fa fa-phone"></i><a href="#"><span>9096132528</span></a>
            </div>
        </div>
        <div class="container con">
            <marquee scrollamount="2" scrolldelay="10">
                All the programs run by NITMS is purely Autonomous and Certification Courses.
            </marquee>
        </div>
        <div class=" container con">
            <ul class="line">
                <li><a href="https://www.onlinesbi.com/prelogin/icollecthome.htm?corpID=738706" target='_blank' style="color: #ff6c00">Online Payment</a></li>
                <li ><a href="http://m.p-y.tm/nitm_web"  target='_blank'><img src="/assets/images/paytm.jpg" height="30" width="50"></a></li>
            </ul>
        </div>
        <div class="container con ">
            <!-- <div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12"></div> -->
            <ul class="line">
                <div class="con2">                   
                    <li><a href="https://www.facebook.com/NITMS-625511570942240/?fref=ts&amp;ref=br_tf&#10;" class="facebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a title="Google Plus" href="https://plus.google.com/b/107850518420659104510/107850518420659104510/about?gmbpt=true&amp;hl=en-GB" class="google" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a title="Twitter" href="https://twitter.com/chandanitms" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                </div>
                <li><a href="/login">Student Login</a></li>
                <li><a href="/verification">Student Verification</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="margin-top: 160px;"> 
  <div class="row">
    <div class="col-lg-1 col-sm-12 col-md-2">
      <img src="/assets/images/nitmslogo.png" height="130" width="130" style="margin-left: 15px;">
    </div>
    <div class="col-lg-11 col-sm-12 col-md-10">
      <h1 class=" text-center head-title iso-title">National Institute Of Technical and Management Studies</h1>
      <h4 class="text-center">A unit of "Karmveer Gramvikas Sanstha"</h4>
      <h5 class="text-center iso-title">An ISO 9001 : 2015 Certified Organization</h5>
    </div>
  </div>
    <nav class="navbar navbar1">
        <ul class="nav">
            <li class="pad1"><a href="/dashboard"><h5>Home</h5></a></li>
            <li class="pad1"><a href="/aboutus"><h5>About Us</h5></a></li>
            <li class="pad1"><a href="/accrediation"><h5>Accrediation</h5></a></li>
            <li class="pad1"><a href="/certification"><h5>Certification</h5></a></li>
            <li class=" pad1 dropdown"><a><h5>Courses</h5>
                <div class="dropdown-content">
                    <p class="pad2"><a class="black" href="/courses/management"><h6>Management Programs</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/engineering"><h6>Engineering Programs</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/computer"><h6>Computer Application</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/diploma"><h6>Diploma / Specialization Programs</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/textile-e"><h6>Textile Engineering</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/textile-m"><h6>Textile Management</h6></a></p>
                </div>
            </a></li>
            <li class="pad1"><a href="/examination"><h5>Examination</h5></a></li>
            <li class="pad1"><a href="/placement"><h5>Placement</h5></a></li>
            <li class="pad1 dropdown"><a><h5>Downloads</h5>
                <div class="dropdown-content">
                    <p class="pad2"><a href="assets/application-form.pdf" target="_blank" class="link-page black" title="Application Form"><h6>Application Form</h6></a></p>
                    <p class="pad2"><a href="assets/ExaminationForm.docx" target="_blank" class="link-page black" title="Exam Form"><h6>Exam Form</h6></a></p>
                </div>
            </a></li>
            <li class="pad1"><a href="/contact"><h5>Contact</h5></a></li>
        </ul>
    </nav> 
    <!-- <nav class="navbar navbar-expand-lg navbar-light navbar2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item active pad1"><a href="/dashboard"><h5>Home</h5></a></li>
            <li class="nav-item active pad1"><a href="/aboutus"><h5>About Us</h5></a></li>
            <li class="nav-item active pad1"><a href="/accrediation"><h5>Accrediation</h5></a></li>
            <li class="nav-item active pad1"><a href="/certification"><h5>Certification</h5></a></li>
            <li class="nav-item active pad1 dropdown"><a><h5>Courses</h5>
                <div class="dropdown-content">
                    <p class="pad2"><a class="black" href="/courses/management"><h6>Management Programs</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/engineering"><h6>Engineering Programs</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/computer"><h6>Computer Application</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/diploma"><h6>Diploma / Specialization Programs</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/textile-e"><h6>Textile Engineering</h6></a></p>
                    <p class="pad2"><a class="black" href="/courses/textile-m"><h6>Textile Management</h6></a></p>
                </div>
            </a></li>
            <li class="nav-item active pad1"><a href="/examination"><h5>Examination</h5></a></li>
            <li class="nav-item active pad1"><a href="/placement"><h5>Placement</h5></a></li>
            <li class="nav-item active pad1 dropdown"><a><h5>Downloads</h5>
                <div class="dropdown-content">
                    <p class="pad2"><a href="assets/application-form.pdf" target="_blank" class="link-page black" title="Application Form"><h6>Application Form</h6></a></p>
                    <p class="pad2"><a href="assets/ExaminationForm.docx" target="_blank" class="link-page black" title="Exam Form"><h6>Exam Form</h6></a></p>
                </div>
            </a></li>
            <li class="nav-item active pad1"><a href="/contact"><h5>Contact</h5></a></li>
        </ul>
      </div>
    </nav> -->
</div>