
<div [@routerTransition]>
    
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%" 
                    class = "cover ">
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <div class="section section-padding choose-course">
        <div class="container">
            <div class="group-title-index">
                <h4 class="top-title">CHOOSE YOUR COURSE</h4>
                <h2 class="center-title">GET THE WORLD CLASS &amp; VERIFIED COURSE</h2>
                <div class="bottom-title">
                    <i class="bottom-icon icon-a-1-01-01"></i>
                </div>
            </div>
            <div class="choose-course-wrapper row">
                <app-get-course></app-get-course>
                <app-get-course></app-get-course>
                <app-get-course></app-get-course>
            </div>
        </div>
    </div>
</div>