.container {
   /* padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}
.group-title-index {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    color: #49575f;
    text-transform: uppercase;
}
.top-title {
    font-weight: 400;
    font-size: 16px;
}
.center-title {
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
}
/*.choose-course-wrapper{
    align-self: center;
}*/
.why-choose-us {
    background-color: #242c42;
    color: #fff;
    padding: 20px 0px 50px 0;
}
.pad{
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    text-align: justify;
}
/*.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
}*/
/*.section-padding {
    padding: 50px 0;
}
html * {
    outline: 0 !important;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.btn.btn-green-2 {
    line-height: 40px;
    background-color: transparent;
}
.btn {
    border: 0;
    border-radius: 0;
    padding: 0 25px;
    background: transparent;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    color: #fff;
    transition: all 0.2s ease;
}
.btn.btn-green:after, .btn.btn-green-2:after, .btn.btn-green-3:after, .btn.btn-transition:after, .btn.btn-transition-2:after, .btn.btn-transition-3:after, .btn.btn-blue:after, .btn.btn-grey:after, .btn.btn-404:after {
    transition: all 0.5s ease;
}
.btn {
    border: 0;
    border-radius: 0;
    padding: 0 25px;
    background: transparent;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    color: #fff;
    transition: all 0.2s ease;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.top-courses {
    text-align: center;
}
.group-title-index {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
    color: #49575f;
}
.group-title-index .center-title {
    font-size: 30px;
    font-weight: 900;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    line-height: 30px;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    float:right;
}
*/