<div class="contain">
<div class="row">
	<div class="col-md-2 pad" >
		<img src="/assets/images/IAF.png" height="150" width="200">
	</div>
	<div class="col-md-10 pad">
		<h1>IAF</h1>
		<h3>International Accreditation Forum</h3>
	</div>
	<p>The IAF is the world association of Conformity Assessment Accreditation Bodies and other bodies interested in conformity assessment in the fields of management systems, products, services, personnel and other similar programmes of conformity assessment. Its primary function is to develop a single worldwide program of conformity assessment which reduces risk for business and its customers by assuring them that accredited certificates may be relied upon. Accreditation assures users of the competence and impartiality of the body accredited.
	</p>
</div>
<hr>
<div class="row">
	<div class="col-md-2 pad">
		<img src="/assets/images/DAC.jpg" height="150" width="150">
	</div>
	<div class="col-md-10 pad">
		<h1>DAC</h1>
		<h3>Dubai Accreditation Center</h3>
	</div>
	<p>Dubai Accreditation Center (DAC) has recommended Certification Body accreditation to NQA Middle East, Dubai covering ISO 14001:2004 and OHSAS 18001:2007 standards.</p>
	<p>Though NQA Middle East has UKAS accreditations, it is important to be compliant to a local regulation requiring all certification bodies operating from Emirate of Dubai to be accredited by DAC.</p>
	<p>As per the Law 2/2010, DAC is recognized by the UAE government as the official body in the Emirate of Dubai responsible for assessing and accrediting the competence of organizations in the field of certification of management systems, products and personnel etc.</p>
	<p>DAC also became an International Accreditation Forum (IAF) MLA signatory in 2013 for Certification Bodies in Middle East with the main scope of ‘Management System Certification ISO/ IEC 17021 and sub scopes of Management Systems.</p>
</div>
<hr>
<hr>
<div class="row">
	<div class="col-md-2 pad">
		<img src="/assets/images/JAS-ANZ.jpg" height="150" width="150">
	</div>
	<div class="col-md-10 pad">
		<h1>JAS-ANZ</h1>
	</div>
	<p>JAS-ANZ supports international cooperation by establishing arrangements with accreditation bodies operating around the world.</p>
	<p>These arrangements mean countries recognise and accept each other’s certificates and inspection reports. This reduces the time, money and effort involved in re-certifying or re-inspecting. It makes it more efficient for one country to do business with another country.</p>
	<p>JAS-ANZ is an active member of and signatory to several cooperative arrangements between accreditors.</p>
</div>
<hr>
</div>