<footer>
    
<div class="footer-main">
        <div class="container">
            <div class="footer-main-wrapper">
                <div class="row">
                    <div class="col-2">
                        <div class="col-md-3 col-sm-6 col-xs-6 sd380">
<div class="edugate-widget widget">
        <div class="title-widget">nitms.in</div>
            <div class="content-widget">
                <div class="info-list">
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <a href="#">
                                <p>National Institute of Technical &amp; Management Studies</p>
                                <p>Above Anand Bhandar, 2nd Floor, A-Wing, WHC Road, Dharampeth Nagpur.</p>
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="#">0712-6635201</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <a href="#">info@nitms.in</a>
                        </li>                  
                    </ul>
                </div>
            </div>
</div></div>
                     </div>
                 </div> 
            </div> 
            <div class="hyperlink">
                <div class="pull-left hyper-left">
                    <ul class="list-inline">
                        <li class="pad"><a href="index.php">HOME</a></li>
                        <li class="pad"><a href="page.php?page=all-courses">COURSES</a></li>
                        <li class="pad"><a href="page.php?page=gallery">GALLERY</a></li>
                        <li class="pad"><a href="page.php?page=about">ABOUT US</a></li>
                        <li class="pad"><a href="page.php?page=contact">CONTACT</a></li>
                        
                    </ul>
                </div>
                <div class="pull-right hyper-right">© nitms.in. All Rights Reserved | Created by <a href="http://www.s2pedutech.com/" target="_blank" style="color:#ee7f22">S2p</a></div>
            </div>
        </div>
    </div>
</footer>