<div class="contain">
  <div class="row">
    <h1 class="head">{{carddata.title}}</h1>
  </div>
  <div class="row">
    <mat-card class="col col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let a of carddata.table">
      <div class="grid-item">
        <mat-card-title><strong>{{a.name}}</strong></mat-card-title>
        <mat-card-content>
          <ul>
            <li *ngFor="let item of a.syllabus">{{item.name}}</li>
          </ul>
          <p>Course Duration: {{a.duration}}</p>
          <p>Course Fees : {{a.fees}}</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>