.contain{
	margin-right:100px;
	margin-left:100px;
}
/*.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item{
    padding: 10px;
}*/
.image{
	width:300px;
	height:300px;
}
	.head{
		padding-left: 25%;
		padding-right: 25%;
	}